.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 5%;
  background-color: #45485b;
  color: white;
  font-family: "Roboto";
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 768px) {
  .bg-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.input-style {
  width: 75%;
  align-self: flex-start;
  height: 36px;
  border-radius: 6px;
  border: none;
}

@media screen and (min-width: 768px) {
  .input-style {
    height: 45px;
  }
}

.add-todo-button {
  background-color: #6373a4;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 7px 15px 7px 15px;
  align-self: flex-start;
  cursor: pointer;
}

.unorder-list-container {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}
